@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
html {
  font-size: 16px;
  font-family: "Open Sans",arial,sans-serif;
}

div {
display: block;
}

.container {
  width: 100%;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: none;
  position: relative;
}

/*Header/Nav*/

header {
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
  position: fixed;
  background-color: #fff;
  z-index: 5;
}

.title {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  flex-grow: 1;
  font-weight: bold;
  letter-spacing: 0.05rem;
}

span .grey {
  color: #7F9493;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.5rem;
}

nav a:hover {
  color: #00A884;
  transition: all 300ms ease-in;
}

nav a:before {
content: "";
position: absolute;
width: 100%;
height: 1px;
bottom: 0;
left: 0;
background-color: #00A884;
visibility: hidden;
transform: scaleX(0);
transition: all 300ms ease-in-out;
}

nav a:hover:before {
 visibility: visible;
 transform: scaleX(1);
}

span {
  display: inline-flex;
  padding-right: 1rem;
}

.nav-items {
  display: none;
}

/*Banner section*/

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #C7D2D4;
  padding-top: 4rem;
}

.banner-img {
  width: 60%;
}

.banner img {
  width: 100%;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.tagline {
  padding: 0 3rem 1rem 5rem;
  width: 40%;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  padding-bottom: 1.1rem;
}

h2 {
  font-size: 1.3rem;
  color: #4B4F4F;
  font-weight: 600;
}

.banner h2 {
  padding-bottom: 1.1rem;
}



.btn a {
   background-color: #00A884;
   padding: 0.5rem 5rem;
   color: white;
   box-shadow: 0.5rem 0.5rem 1rem #006E56;
}

.btn a:hover {
  background-color: #006E56;
  transition: all 200ms ease-in;
}

.btn a:active {
  top: 0.2rem;
  transition: all 100ms ease-in;
}
/*First Content Block*/

.section-one {
  display: flex;
  width: 100%;
  padding: 2rem 0;
}

/*Main-feature - within First block*/

.main-feature {
  width: 60%;
  padding: 0rem 1.5rem;
}

.main-feature img {
  width: 100%;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #4B4F4F;
  padding: 2rem 0 1rem 0;
}

p {
  font-weight: 300;
  margin: 1rem 0;
  color: #767D7D;
  line-height: 1.5rem;
}

.section-one span {
  margin: 1.5rem 0 0;
  font-weight: 300;
  color: #4B4F4F;
}

.section-one .bottom {
  background-color: #C7D2D4;
}

/* Side Content - within First block*/

.read-more {
  width: 40%;
  margin: 0;
  padding: 0;
}

.read-more a:before {
content: "";
position: absolute;
width: 100%;
height: 1px;
bottom: 0;
left: 0;
background-color: #00A884;
visibility: hidden;
transform: scaleX(0);
transition: all 300ms ease-in-out;
}

.read-more a:hover:before {
 visibility: visible;
 transform: scaleX(1);
}

.information {
  display: flex;
  align-items: center;
  border: 0.5px solid #DAE6E8;
  margin-bottom: 0.1rem;
  padding: 1rem;
}

.information img {
  width: 35%;
  height: auto;
}

.column {
  padding-left: 1rem;
}

.read-more a {
color: #00A884;
}

/*Course Section*/

.start-learning {
  display: block;
  justify-content: center;
  width: auto;
  background-color: #C7D2D4;
}

.section-header h3 {
  text-align: center;
}

.courses {
  display: flex;
  padding: 0rem 4.5rem;
}

.course img {
  height: auto;
  width: 100%;
  margin-bottom: 1rem;
}

.course {
 margin: 2rem;
 display: inline-block;
 width: 100%;
 background-color: white;
}

.padding {
  padding: 0 1rem;
}

/* Thesis Section*/

.thesis-exhibit {
  display: flex;
  width: 100%;
  padding: 2rem 0;
}

.thesis-exhibit video {
  margin-bottom: 1.5rem;

}

.thesis-exhibit .top {
  background-color: #C7D2D4;
}

/*footer*/

footer {
  display: flex;
  width: 100%;
  height: 5rem;
  align-items: center;
  border: 0.5px solid #DAE6E8;
}

footer span {
  font-weight: 300;
  font-size: 12px;
}

.copyright {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  flex-grow: 1;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.5rem;
}

@media only screen and (max-width: 400px) {

  /*Mobile Nav Bar*/

  .desktop, .title {
    display: none;
  }

  .mobile {
    width: 100%;
  }

  .nav-items {
    width: 100%;
    justify-content: space-around;
  }

  .mobile ul {
  display: inline-flex;
}

/*Mobile Banner*/

.banner {
  display: block;
}

.banner-img {
  width: 100%;
}

.banner img {
  padding: 0;
}

.tagline {
  width: 100%;
  text-align: left;
  padding: 2rem 1rem;
}

.tagline .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn a{
  padding: 0.7rem 9rem;
  box-shadow: none;
}
}
